################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/0. Introduction/Resources/Purposing Modeling & Simulation/.$Purposing Modeling & Simulation.drawio.bkp
