################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/0. Introduction/Resources/Purposing Modeling & Simulation/.$Purposing Modeling & Simulation.drawio.bkp
/0. Introduction/Resources/Principles/.$Principles.drawio.bkp
/.vs/The-Standard-French/FileContentIndex
/.vs/The-Standard-French/v17/.suo
/.vs/ProjectSettings.json
/.vs
/0. Introduction/Resources/The Theory/.$The Theory.drawio.bkp
